{
  "parser": "babel-eslint",
  "extends": "alexander",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "max-params": "off"
  },
  "plugins": ["react", "class-property"]
}
