{
  "parser": "babel-eslint",
  "extends": [
    "alexander",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
  ],
  "plugins": [
    "react",
    "class-property",
    "prettier",
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "max-params": "off"
  },
}
