{
  "parser": "babel-eslint",
  "extends": [
    "alexander",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "max-params": "off"
  },
  "plugins": ["react", "class-property"]
}
